
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
    scroll-behavior:smooth;
}

h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;;
}

header{
    background-color:#0c0d0c;
}

.contenedorheader{
    display:flex;
    height: 60px;
    align-items: center;
    padding: 2.5% 2%;
    justify-content:space-between;
    
}

.logo img{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    
}


nav a{
    padding-right: 10px;
    font-size: 150%;
    color: aliceblue;
    text-decoration: none;

}

nav a:hover{
    color: #800b65;
}

body{
    background-color:#18181a;
}

h1{
    font-size: 3.5em;
    font-family: Georgia;
    font-weight:bolder;
    text-align: center;
    padding: 0% 4%;
}



#inicio{
    height: 65em; 
}

#inicio .contenedor{
    display: flex;
    color:aliceblue;
    height: 65em;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)
    )
    ,url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


#sobremi{
    height: 57em;
    background-color: #1e2326;
    display: block;
    
}

#sobremi .contenedor{
    height: 55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding: 0% 5%;
}

#sobremi h2{
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sobremi p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    word-spacing: 0.2em;
}


#habilidades{
    background-color: #120f0f;
    display: block;
    height: 35em;
}

#habilidades .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#habilidades h2{
    padding-bottom: 2%;
    color: aliceblue;
    text-align: center;
    margin: 1% 1em;
    margin-top: 3%;
}


.contenedor-tecnologias{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

#habilidades h3{
    color: aliceblue;
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
}

#java{
    max-width: 100%;
    width: 10%;

}

#python{
    max-width: 100%;
    width: 9%;
}

#mysql{
    max-width: 100%;
    width: 9%;
}

#html{
    max-width: 100%;
    width: 8.4%;
}

#css{
    max-width: 100%;
    width: 6%;
}


#educacion{
    display: block;
}

#educacion .contenedor{
    background-color: #18181a;
    

}

.contenedor-estudios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5%;
    letter-spacing: 0.2%;
    word-spacing: 0.1em;
}

.contenedor-estudios .item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    margin-bottom: 30px;
    background-color: #252a2e;
    font-size: 120%;
    flex-direction: column;
    border-radius: 15px; 
}

#educacion .contenedor h2{
    text-align: center;
    color:aliceblue;
    padding-bottom: 1em;
    padding-top: 1em;
    
}

#educacion .contenedor h3{
    color: aliceblue;
    margin-bottom: 1em;
    

}

#educacion .contenedor p{
    color: aliceblue;
}


#contactame{
    color: aliceblue;
    background-color:#120f0f;
    display: block;
    margin: auto;
}



#contactame .contenedor{
    display: flex;
    justify-content: center;
padding-bottom: 1em;
flex-wrap: wrap;
border-radius: 30px;
padding-bottom: 4%;


}

#contactame h2{
    text-align: center;
    padding-bottom: 4%;
    padding-top: 3%;

}

form{
    background-color: rgba(0, 0, 0, 40%);
    width: 18em;
    color:aliceblue;
    padding: 1em;
    border-radius: 25px;
    border:  3px solid rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)
    )
    ,url(../images/stars-1845140_640.jpg);

}


legend{
    font-size: 2em;
    padding-bottom: 7%;
    
}

fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form label{
    color: aliceblue;
    margin-bottom: 5%;
    font-size: 18px;
}
form input, textarea{
    background-color: #212126;
    border-radius: 6px;
    border: 0;
    padding: 12px 7px;
    margin-bottom: 5px;
    margin-right: 25px;
    color: blueviolet;
    
}



:focus{
    outline: 2px solid #4f093f;
}

.boton{
    margin-top: 3%;
    border-radius: 10px;
    background:blueviolet;
    color: aliceblue;
    border:  3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 4px 4%;

}

.boton:hover{
    background-color:#4f093f;
}


footer{
    background-color: #212126;
    height:4vw;
    display: block;
}

.contenedor-redes{
    display: flex;
    text-align: center;    
    justify-content: center;
    padding-top: 0.4%;

}


.ri-linkedin-box-fill{
    font-size: 2.3em;  
    
}

.ri-instagram-fill{
    font-size: 2.3em;
}

@media (max-width: 720px){
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-bottom: 2px;
    }
    .contenedorheader{
        display:flex;
        height: 19em;
        align-items:center;
        flex-direction: column;
        justify-content:center;
    }

    nav a{
        font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4%;
    }

    h1{
        font-size: 2.2em;
        padding: 2% 5%;
    }

    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.7em;
    }
    p{
        font-size: 1.25em;;
    }


    #sobremi h2{
        padding: 10%;
    }

    #habilidades{
        height: 25em;
    }

    #java{
        max-width: 100%;
        width: 17%;
    
    }
    
    #python{
        max-width: 100%;
        width: 15%;
        padding-right: 4%;
    }
    
    #mysql{
        max-width: 100%;
        width: 20%;
        padding-right: 1%;
    }
    
    #html{
        max-width: 100%;
        width: 14%;
        padding-right: 1%;
    }
    
    #css{
        max-width: 100%;
        width: 9%;
    }

    .contenedor-estudios .item{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    form{
        margin: 30px;
    }
}

